.HeaderContainer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(176, 219, 174, 0.603);
    border-bottom: 2px solid grey;
    display: flex;
    margin-top: 0;
    padding: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.HeaderTitles {
    list-style: none;
    font-size: 25px;
    margin-right: 25px;
    margin-left: 25px;
}

.HeaderLink {
    text-decoration: none;
}

.HeaderLinkActive {
    color: red;
}
